// @import "bootstrap/functions";

// $custom-file-text: (
//   en: "Browse",
//   es: "Elegir"
// );

// @import "bootstrap";
#formFile::before {
  content: ' ';
  background: url('./folder_search.ico') no-repeat;
  position: absolute;
  z-index: 2;
  display: block;
  background-color: #eee;
  width: 100px;
}
// .custom-file-label::before {
//   content: 'Charger';
// }
