<div>
  <h2 id="page-heading" data-cy="SpecifikacijeHeading">
    <span jhiTranslate="tenderApp.specifikacije.home.title">Specifikacijes</span>
    <div class="mb-3">
      <label for="formFile" (click)="fileInput.click()" class="form-label"><span></span></label>
      <input #fileInput type="file" id="file" (input)="uploadFile()" class="form-control" type="file" id="formFile" />
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderApp.specifikacije.home.refreshListLabel">Refresh list</span>
      </button>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-primary" [routerLink]="['/ponude/new']">
          <fa-icon icon="plus"></fa-icon>
          <span> Unesi Specifikaciju </span>
        </button>

        <button type="button" class="btn btn-primary" (click)="obrazacExcel()">Napravi</button>
        <button *ngIf="postupak" type="button" class="btn btn-primary" (click)="Excel()">Excel</button>
      </div>
    </div>
    <input hidden #fileInput type="file" id="file1" />
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="specifikacijes?.length === 0">
    <span jhiTranslate="tenderApp.specifikacije.home.notFound">No Specifikacijes found</span>
  </div>

  <div class="table table-responsive w-100 d-block d-md-table" id="entities" *ngIf="specifikacijes && specifikacijes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!--          <th scope="col" jhiSortBy="id">-->
          <!--            <div class="d-flex">-->
          <!--              <span jhiTranslate="global.field.id">ID</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <th scope="col" jhiSortBy="sifraPostupka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.sifraPostupka">Sifra Postupka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="brojPartije">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.brojPartije">Broj Partije</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="atc">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.atc">Atc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="inn">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.inn">Inn</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="farmaceutskiOblikLijeka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.farmaceutskiOblikLijeka">Farmaceutski Oblik Lijeka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jacinaLijeka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.jacinaLijeka">Jacina Lijeka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="trazenaKolicina">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.trazenaKolicina">Trazena Kolicina</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pakovanje">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.pakovanje">Pakovanje</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jedinicaMjere">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.jedinicaMjere">Jedinica Mjere</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="procijenjenaVrijednost">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.procijenjenaVrijednost">Procijenjena Vrijednost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jedinicnaCijena">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.jedinicnaCijena">Jedinicna Cijena</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="karakteristika">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.karakteristika">Karakteristika</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let specifikacije of specifikacijes; trackBy: trackId" data-cy="entityTable">
          <!--          <td>-->
          <!--            <a [routerLink]="['/specifikacije', specifikacije.id, 'view']">{{ specifikacije.id }}</a>-->
          <!--          </td>-->
          <td>{{ specifikacije.sifraPostupka }}</td>
          <td>{{ specifikacije.brojPartije }}</td>
          <td>{{ specifikacije.atc }}</td>
          <td>{{ specifikacije.inn }}</td>
          <td>{{ specifikacije.farmaceutskiOblikLijeka }}</td>
          <td>{{ specifikacije.jacinaLijeka }}</td>
          <td>{{ specifikacije.trazenaKolicina }}</td>
          <td>{{ specifikacije.pakovanje }}</td>
          <td>{{ specifikacije.jedinicaMjere }}</td>
          <td>{{ specifikacije.procijenjenaVrijednost }}</td>
          <td>{{ specifikacije.jedinicnaCijena }}</td>
          <td>{{ specifikacije.karakteristika }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/specifikacije', specifikacije.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Pregled</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/specifikacije', specifikacije.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Izmeni</span>
              </button>

              <button type="submit" (click)="delete(specifikacije)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Obriši</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <!--                    <td>Ukupno procijenjeno:</td>-->
          <!--                    <td>{{ ukupno_procjenjeno }}</td>-->
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div *ngIf="specifikacijes && specifikacijes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
