// @import "bootstrap/functions";

// $custom-file-text: (
//   en: "Browse",
//   es: "Elegir"
// );

// @import "bootstrap";
#formFile::before {
  content: 'Izaberi fajl';
  position: absolute;
  z-index: 2;
  display: block;
  background-color: #eee;
  width: 100px;
}
