<div>
  <h2 id="page-heading" data-cy="PrvorangiraniHeading">
    <span jhiTranslate="tenderApp.prvorangirani.home.title">Prvorangiranis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderApp.prvorangirani.home.refreshListLabel">Refresh list</span>
      </button>
      <button type="button" class="btn btn-primary" (click)="Excel()">Excel</button>
    </div>
  </h2>
  <select
    *ngIf="postupak"
    class="form-control"
    id="field_sifraPonudjaca"
    data-cy="sifraPonudjaca"
    name="sifraPonudjaca"
    placeholder="Unesite Ponudjaca"
    [(ngModel)]="sifraPonude"
    (change)="loadSifraPonude()"
    cl="loadPageSifraPonude()"
  >
    <option value="" selected disabled>Please select</option>
    <!--        <option [ngValue]="null">Vrati</option>-->
    <option id="ponudjac" [ngValue]="ponudjaciOption.sifraPonude" *ngFor="let ponudjaciOption of ponudjaci">
      {{ ponudjaciOption.nazivPonudjaca }}
    </option>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
  </select>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="prvorangiranis?.length === 0">
    <span jhiTranslate="tenderApp.prvorangirani.home.notFound">No Prvorangiranis found</span>
  </div>

  <div id="ExampleTable" class="table-responsive table-entities" id="entities" *ngIf="prvorangiranis && prvorangiranis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="sifraPostupka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.sifraPostupka">Sifra Postupka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nazivPonudjaca">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.nazivPonudjaca">Naziv Ponudjaca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sifraPonude">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.sifraPonude">Sifra Ponude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="brojPartije">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.brojPartije">Broj Partije</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="atc">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.atc">Atc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="trazenaKolicina">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.trazenaKolicina">Trazena Kolicina</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="procijenjenaVrijednost">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.procijenjenaVrijednost">Procijenjena Vrijednost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nazivProizvodjaca">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.nazivProizvodjaca">Naziv Proizvodjaca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zasticeniNaziv">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.zasticeniNaziv">Zasticeni Naziv</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jedinicnaCijena">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.jedinicnaCijena">Jedinicna Cijena</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ponudjenaVrijednost">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.ponudjenaVrijednost">Ponudjena Vrijednost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rokIsporuke">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.rokIsporuke">Rok Isporuke</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vrstaPostupka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.vrstaPostupka">Vrsta Postupka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bodCijena">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.bodCijena">Bod Cijena</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bodRok">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.bodRok">Bod Rok</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bodUkupno">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.prvorangirani.bodUkupno">Bod Ukupno</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prvorangirani of prvorangiranis; trackBy: trackId" data-cy="entityTable">
          <!--          <td>-->
          <!--            <a [routerLink]="['/prvorangirani', prvorangirani.id, 'view']">{{ prvorangirani.id }}</a>-->
          <!--          </td>-->
          <td>{{ prvorangirani.sifraPostupka }}</td>
          <td>{{ prvorangirani.nazivPonudjaca }}</td>
          <td>{{ prvorangirani.sifraPonude }}</td>
          <td>{{ prvorangirani.brojPartije }}</td>
          <td>{{ prvorangirani.atc }}</td>
          <td>{{ prvorangirani.trazenaKolicina }}</td>
          <td>{{ prvorangirani.procijenjenaVrijednost }}</td>
          <td>{{ prvorangirani.nazivProizvodjaca }}</td>
          <td>{{ prvorangirani.zasticeniNaziv }}</td>
          <td>{{ prvorangirani.jedinicnaCijena }}</td>
          <td>{{ prvorangirani.ponudjenaVrijednost }}</td>
          <td>{{ prvorangirani.rokIsporuke }}</td>
          <td>{{ prvorangirani.vrstaPostupka }}</td>
          <td>{{ prvorangirani.bodCijena }}</td>
          <td>{{ prvorangirani.bodRok }}</td>
          <td>{{ prvorangirani.bodUkupno }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Ukupno procjenjeno:</td>
          <td>{{ ukupno_procjenjeno }}</td>
          <td></td>
          <td></td>
          <td>Ukupno ponudjeno:</td>
          <td>{{ ukupno_ponudjeno }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div *ngIf="prvorangiranis && prvorangiranis.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
