.hovers hover {
  //  color: aliceblue;
  background: #4582ec;
}
.slova:hover {
  background: #4582ec;
  color: white;
}

.crveno:hover {
  background-color: #4582ec;
  color: white;
}
tr {
  cursor: pointer;
}
table {
  width: 100%;
}

#delete {
  color: red;
}
#edit {
  color: green;
}
