.hovers:hover {
  background-color: #2196f3;
  color: white;
}

.crveno {
  background: red;
  color: white;
}
tr {
  cursor: pointer;
}
table {
  width: 100%;
}

#delete {
  color: red;
}
#edit {
  color: green;
}
